/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BASE */
html, body, #root {
    min-height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
    color: #222;
    padding-top: 70px; /* por causa da navbar fixa */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* LINKS */
a {
    text-decoration: none;
    color: inherit;
}

/* BOTÕES */
button {
    cursor: pointer;
    font: inherit;
}